<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Remote Labour</title>
	<link rel="stylesheet"  href="css/styles.css">
	<link rel="icon" href="/favicon/favicon.ico" type="image/favicon"/>
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="favicon/site.webmanifest">
	<script type="text/javascript" src="jS/script.js" defer></script>
</head>
<body>
	<nav>
		<div class="logo">
			<a href="/">
				<span>Remote Labour</span>
			</a>
		</div>
		<div class="links">
			<div class="search">
				<ion-icon name="search"></ion-icon>
				<form>
					<input type="search" name="search" placeholder="Search" id="search" class="hide">
				</form>
			</div>
			<a href="/login" id="signin-signup">
				sign in/sign up
			</a>
		</div>
		<div class="popup">
			<div class="toggle-popup"></div>
			<div class="popup-content">
				<a href="/login" id="signin-signup">sign in/sign up</a>
			</div>
		</div>
		<div class="profile-popup">
			<div class="popup-toggle"></div>
			<div class="popup-content">
				<div class="profile-info">
					<div class="pfp">
						<img src="imgs/pfp4.jpeg">
					</div>
					<div class="username">
						<a href="#" class="profile-name">John Doe</a>
					</div>
				</div>
				<a href="#">
					<ion-icon name="person-circle-outline"></ion-icon>
					<span>View Profile</span>
				</a>
				<a href="#">
					<ion-icon name="chatbox-outline"></ion-icon>
					<span>Messages</span>
				</a>
				<a href="#">
					<ion-icon name="settings-sharp"></ion-icon>
					<span>Profile Settings</span>
				</a>
				<a href="#">
					<span>Sign Out</span>
					<ion-icon name="log-out-outline"></ion-icon>
				</a>
			</div>
		</div>
	</nav>
	<section id="home">
		<div class="labour">
			<h1>Streamline Your Hiring Process</h1>
			<p class="p-one">Maximize Your Recruiting Efforts with Our Services</p>
			<p class="p-two">Empowering employers to find the best talent - search resumes and hire top candidates</p>
			<div class="images">
				<img src="imgs/connectedteam.png">
				<img src="imgs/designteam.png">
				<img src="imgs/opensource.png">
				<img src="imgs/remoteteam.png">
				<img src="imgs/team.png">
			</div>
			<a href="/profiles">
				<span>start</span>
				<ion-icon name="arrow-forward-sharp"></ion-icon>
			</a>
		</div>
		<div class="categories">
			<h1>Browse the available profiles in the category of your choice</h1>
			<p>Discover Exciting Candidate that Match Your Needs</p>
			<p class="p-two">Find your next Candidate by browsing through our diverse categories - from entry-level to executive, we have something for everyone</p>
			<div class="images">
				<img src="imgs/coding.png">
				<img src="imgs/latenight.png">
				<img src="imgs/devactivity.png">
				<img src="imgs/consulting.png">
				<img src="imgs/teamgoals.png">
			</div>
			<a href="#categories">
				<span>browse</span>
				<ion-icon name="arrow-forward-sharp"></ion-icon>
			</a>
		</div>
	</section>
	<section id="categories">
		<div class="job-categories">
			<div class="title">
				<p>Browse through available categories</p>
			  	<span>or</span>
			  	<a href="/profiles">Check available profiles</a>	
			</div>
			<div class="category-links">
				<div class="links">
					<span>Freelance</span>
					<a href="/profiles">Graphic Designer</a>
					<a href="/profiles">Content Writer</a>
					<a href="/profiles">Web Developer</a>
					<a href="/profiles">Social Media Manager</a>
					<a href="/profiles">SEO Specialist</a>
					<a href="/profiles">Marketing Consultant</a>
					<a href="/profiles">Photographer</a>
					<a href="/profiles">Project Manager</a>
					<a href="/profiles">App Developer</a>
					<a href="/profiles">Financial Consultant</a>
					<a href="/profiles">Translator</a>
					<a href="/profiles">Data Analyst</a>
					<a href="/profiles">Tutor</a>
				</div>
				<div class="links">
					<span>Full-time Jobs</span>
					<a href="/profiles">Software Engineer</a>
					<a href="/profiles">Teacher</a>
					<a href="/profiles">Journalist</a>
					<a href="/profiles">Nurse</a>
					<a href="/profiles">Lawyer</a>
					<a href="/profiles">Accountant</a>
					<a href="/profiles">Architect</a>
					<a href="/profiles">System Administrator</a>
					<a href="/profiles">Product Manager</a>
					<a href="/profiles">Receptionist</a>
					<a href="/profiles">Human Resources Manager</a>
					<a href="/profiles">Marketing Manager</a>

				</div>
				<div class="links">
					<span>Short-term contracts</span>
					<a href="/profiles">Event Planner</a>
					<a href="/profiles">Construction Worker</a>
					<a href="/profiles">Retail Worker</a>
					<a href="/profiles">Office Assistant</a>
					<a href="/profiles">Hotel food supplier</a>
					<a href="/profiles">Tour Guide</a>
					<a href="/profiles">Hotel Worker</a>
					<a href="/profiles">Warehouse Worker</a>
					<a href="/profiles">Data Entry Clerk</a>
					<a href="/profiles">Maintenance Worker</a>
					<a href="/profiles">Security Guard</a>
					<a href="/profiles">Delivery Driver</a>
				</div>
			</div>
		</div>
		<div class="labour-categories">
			<a href="/profiles">
				Browse through available Profiles for your prefered candidate
			</a>
		</div>
	</section>
	<section id="popular-profiles">
		<div>
			<h2>Popular Profiles</h2>
			<div class="profiles">
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
				<div class="profile-card">
					<div class="interactions">
						<div class="likes">
							<ion-icon name="heart"></ion-icon>
							<span class="number">658</span>
						</div>
						<div class="profile-views">
							<ion-icon name="stats-chart-outline"></ion-icon>
							<span class="number">1.9k</span>
						</div>
					</div>
					<div class="user-info">
						<div class="pfp">
							<img src="imgs/pfp4.jpeg">
						</div>
						<div class="username">
							<a href="#">John Doe</a>
						</div>
					</div>
					<div class="tags">
						<span class="freelance">#freelance</span>
						<span class="remote">#remote</span>
					</div>
					<div class="user-location">
						<span class="user-location-span"><ion-icon name="pin"></ion-icon> Nairobi</span>
					</div>
					<div class="current-occupation">
						<span>Web Developer</span>
					</div>
					<a href="#">
						<span>Visit Profile</span>
						<ion-icon name="arrow-forward-outline"></ion-icon>
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div>
			<div class="aaa">
				<a href="#">Report an issue</a>
				<a href="#">About Us</a>
				<a href="#">FAQ</a>
			</div>
			<div class="bbb">
				<a href="#" style="--bg: #4267B2"><ion-icon name="logo-facebook"></ion-icon></a>
				<a href="#" style="--bg: #1DA1F2"><ion-icon name="logo-twitter"></ion-icon></a>
				<a href="#" style="--bg: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);"><ion-icon name="logo-instagram"></ion-icon></a>
			</div>
		</div>
		<a href="https://storyset.com/people">People illustrations by Storyset</a>
		<p><i>&#xa9;</i> All Rights Reserved 2023</p>
	</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>