<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>--</title>
	<link rel="stylesheet"  href="css/my-account.css">
	<script type="text/javascript" src="jS/my-account.js" defer></script>
</head>
<body>
	<nav>
		<div class="logo">
			<a href="/">
				<span>Remote Labour</span>
			</a>
		</div>
	</nav>
	<section class="user-info-form">
		<form>
			<div class="image-container">
				<div class="pfp">
					<img src="imgs/pfp4.jpeg">
				</div>
				<div class="save-edit">
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="username">
				<label>User Name</label>
				<span class="username-span">John Doe</span>
				<div class="input-field">
					<input type="text" name="user-name" placeholder="Enter new username">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="email">
				<label>Email</label>
				<span class="email-span">johndoe@gmail.com</span>
				<div class="input-field">
					<input type="email" name="email" placeholder="Change email">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="profession">
				<label>Profession</label>
				<span class="profession-span"></span>
				<div class="input-field">
					<input type="text" name="profession" placeholder="Enter your current profession">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>	
			<div class="qualifications">
				<label>Qualifications</label>
				<p class="qualifications-p"></p>
				<div class="input-field-qualifications">
					<textarea rows="8"></textarea>
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="rate">
				<label>Rate in KSh</label>
				<p class="rate-p"></p>
				<div class="input-field">
					<input type="number" name="user-name" placeholder="Enter amount">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>		
			<div class="contact">
				<label>Phone number</label>
				<p class="phone-number"></p>
				<div class="input-field">
					<input type="tel" name="phone-number" placeholder="Enter phone number">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<button>Save</button>
		</form>
		<div class="profile-info">
					<form>
			<div class="image-container">
				<div class="pfp">
					<img src="imgs/pfp4.jpeg">
				</div>
				<div class="save-edit">
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="username">
				<label>User Name</label>
				<span class="username-span">John Doe</span>
				<div class="input-field">
					<input type="text" name="user-name" placeholder="Enter new username">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="email">
				<label>Email</label>
				<span class="email-span">johndoe@gmail.com</span>
				<div class="input-field">
					<input type="email" name="email" placeholder="Change email">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="profession">
				<label>Profession</label>
				<span class="profession-span"></span>
				<div class="input-field">
					<input type="text" name="profession" placeholder="Enter your current profession">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>	
			<div class="qualifications">
				<label>Qualifications</label>
				<p class="qualifications-p"></p>
				<div class="input-field-qualifications">
					<textarea rows="8"></textarea>
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<div class="rate">
				<label>Rate in KSh</label>
				<p class="rate-p"></p>
				<div class="input-field">
					<input type="number" name="user-name" placeholder="Enter amount">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>		
			<div class="contact">
				<label>Phone number</label>
				<p class="phone-number"></p>
				<div class="input-field">
					<input type="tel" name="phone-number" placeholder="Enter phone number">
				</div>
				<div>
					<ion-icon name="pencil-sharp"></ion-icon>
					<ion-icon name="checkmark-outline"></ion-icon>
				</div>
			</div>
			<button>Save</button>
		</form>
		</div>
	</section>
	<footer>
		<div>
			<a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
			<a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
			<a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
		</div>
		<a href="https://storyset.com/people">People illustrations by Storyset</a>
		<p>&#xa9; All Rights Reserved 2023</p>
	</footer>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>